
body{
    padding:20px;
    width:800px;
    
    
}

.item1{
    grid-area: 1 / 1 /span 1/ span 6;
    /*background-color:#daf7a6;*/
}


.item2{
    grid-area: 2 / 1 / span 4 / span 4;
    /*background-color:#aed6f1;*/
}

.item3{
    grid-area: 2 / 5 / span 3 / span 2;
    /*background-color:#72099b;*/
}

.item4{
    grid-area: 6 / 1 / span 1 / span 6;
    /*background-color:#ffc300;*/
    text-align:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(6, 110px) ;
    grid-template-rows:repeat(6, 110px) ;
    grid-gap:20px;
    /*background-color:#ebdef0;*/
    margin:auto; 
    padding:20px;  
}

.item1{
    display:flex;
    justify-content:space-between;
    padding:5px;
    
}

.link-box{
    display:flex;
    justify-content: space-between;
    width:30%;

}

.item2{
    display:flex;
    flex-direction:column;
}

.item3{
    display:flex;
    flex-direction:column;
    
}

.links{
    display:flex;
    flex-direction:column;
}